<div data-aos="fade-left" data-aos-duration="1000">
  <h2>Por región</h2>
  <hr>

  <div class="row">
    <div class="col text-center">
      <button *ngFor="let region of regions"
        class="btn text-white mx-2"
        [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
        (click)="searchByRegion(region)">
        {{ region }}
      </button>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <countries-table [countries]="countries"></countries-table>
    </div>
  </div>
</div>

<shared-loading-spinnner *ngIf="isLoading"></shared-loading-spinnner>
