<div class="row mt-4">

  <div class="col-3" data-aos="fade-right" data-aos-duration="1000">
    <!-- Sidebar -->
    <shared-sidebar> </shared-sidebar>
  </div>

  <div class="col" >
    <!-- Nuestras paginas que cambiaran dependiendo del URL -->
    <!-- <shared-home-page> </shared-home-page> -->
    <!-- <shared-about-page></shared-about-page> -->
    <!-- <shared-contact-page></shared-contact-page> -->
    <router-outlet></router-outlet> <!-- router-outlet: Muestra un componenete o otro dependiendo de la ruta de da pagina -->
  </div>
</div>
