<div data-aos="fade-left" data-aos-duration="1000">
  <h2>Por capital</h2>
  <hr>

  <div class="row">
    <div class="col">
      <!-- (onValue)="searchByCapital($event)" -->
      <!-- Search box -->
      <shared-search-box (onDebounce)="searchByCapital($event)" placeholder="Buscar por capital"></shared-search-box>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
      <!-- Countries list -->
      <countries-table [countries]="countries"></countries-table>

    </div>
  </div>
</div>

<shared-loading-spinnner *ngIf="isLoading"></shared-loading-spinnner>
